<nav class="navbar-wrapper">

  <div class="navbar-brand" routerLink="/">
    Moonbloom
  </div>

  <div class="navbar-links">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
    <a class="nav-link" routerLink="/calendario" routerLinkActive="active-link">My Calendar</a>
    <a class="nav-link" routerLink="/registros/nuevo" routerLinkActive="active-link">Add Daily Log</a>
    <a class="nav-link" routerLink="/perfil" routerLinkActive="active-link">Profile</a>
  </div>

  <div class="navbar-actions">
    <button class="logout-btn" (click)="onLogout()">Log out</button>
  </div>

</nav>
